.B {
  fill: #1e1e1e;
}
.C {
  fill: none;
}
.D {
  stroke-linecap: round;
}
.E {
  stroke: #1e1e1e;
}
.F {
  stroke-linejoin: round;
}
.G {
  fill: #d4d4d4;
}
.H {
  stroke-width: 0.871;
}
.I {
  fill: #f4f4f4;
}
.J {
  fill: #e8e8e8;
}
.K {
  stroke-miterlimit: 10;
}
.L {
  fill: #ffbc92;
}
.M {
  stroke-width: 0.8;
}
.N {
  fill: #989898;
}
.O {
  stroke: #f4f4f4;
}
.P {
  fill: #da7800;
}
